
/*******header*******/

.header{
 background-image: url('../img/carbg.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(0, 0, 0, 0.5);
}



/**************8description ************/
.description{
    position: absolute;
    top: 25%;
    margin: auto;
    padding: 2em;
}
.description h1{
 color:#94110d ;
 line-height: 2;

}
.description p{
 color:#fff;
 font-size: 20px;
 width: 70%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #94110d;
 background:#94110d;
 color:#fff;
} 

.description button:hover {
	border:1px  solid #fff;
 background:#fff;
 color:#94110d;

}

/****************navbar ********/

.navbar{ background:#94110d;}

.nav-link , .navbar-brand{ color: #fff; cursor: pointer; font-weight: bold}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #fff; color: #94110d; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#94110d !important;}

/************responsive header*********/



 @media (max-width: 576px) {
	.description h1{
		 color:#94110d ;
		 line-height: 2;
		 font-size: 20px;

          }
		.description p{
				 color:#fff;
				font-size: 15px;
				 width: 100%;
				 line-height: 1.5;
		}

 }


@media (max-width: 766px) and (min-width:576px) {
	.description h1{
 color:#94110d ;
 line-height: 2;
 font-size: 25px;

}
.description p{
 color:#fff;
 font-size: 15px;
 width: 100%;
 line-height: 1.5;
}

 }


/**********about us*****************/
.about{
 margin: 4em 0;
 padding: .5em;
 position: relative;
}
.about h1{
 color:#94110d;
 margin: 2em;
  
}
.about img{
 height: 100%;
    width: 100%;
    border-radius: 50%
}

.about .desc{
 
 border-left:4px solid #94110d;
 padding-left: 2em;
}
.about .desc h3{
margin-bottom: 1.5em;	
 color: #94110d;



}
.about .desc p{
 line-height:2;
 color:#888;
}

 @media (max-width: 576px) {
 	.about h1 {
 		font-size: 25px;
 	}

 	.about h3 {
 		font-size: 20px;
 		margin-bottom: 1em;
 	}


   .about .desc{
 
 
 padding-left: 1.5em;
}
 }

/************protofolio****************/
#portfolio{
 margin: 8em 0  3em;
    position: relative; 
}
#portfolio h1{
 color:#94110d;
 padding-top: 2em;

}
#portfolio img{
  height: 15rem;
  width: 100%;
  margin: 1em;
}

.portfolio_t {
	position: relative;
}
.portfolio_t .overlay{
	opacity: 0;
}

.portfolio_t:hover .overlay {
  opacity: 1;
}

 @media (max-width: 638px) {
#portfolio img {
  margin: 1em 0em;
}
}

/************customer********/
.customer{
 margin: 20em 0;
 position: relative;  
}
.customer h1{
 color:#94110d;
 margin: 20em 2em 2em 2em  ; 
}

.customer img {
	height: 250px;
}
.customer .item{
 position: relative;
}
.customer .des{
 background: #94110d;
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 93%;
 transition:.3s ease-in-out;
}

.customer .item:hover .des{
 height: 100%;
 background:#f973007d;
 position: absolute;
 width: 89%;
 padding: 5em;
 top: 0;
 border-bottom-left-radius: 0;
}

@media (max-width: 490px) {
.customer h1 {
  margin: 1em 0em;
}
}

/********add font***************/

/************contact us**********/
.contact-form{
 margin: 6em 0;
 position: relative;  
}
.contact-form h1{
 padding:2em 1px;
 color: #94110d; 
}
.contact-form .right{
 max-width: 600px;
}
.contact-form .right .btn-secondary{
 background:  #94110d;
 color: #fff;
 border:0;
}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px;
}
/********************/

/*******footer *****/

#footer {
    background: #1f2a32;

}

ul 
    {
    padding-left: 0px;

}

ul li {
    padding-bottom: 20px;
}


.text_red {
	color:#94110d;
}



@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.ttf);
}

